%mainGradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#640050+0,610281+100 */
  background: #640050; /* Old browsers */
  background: -moz-linear-gradient(top,  #640050 0%, #610281 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#640050), color-stop(100%,#610281)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #640050 0%,#610281 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #640050 0%,#610281 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #640050 0%,#610281 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #640050 0%,#610281 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#640050', endColorstr='#610281',GradientType=0 ); /* IE6-9 */
}