#welcomeView {

  .city {
    background          : url('../assets/intro/city.png') repeat-x;
    background-size     : auto 100%;
    background-position : center center;
    height              : 100px;
    width               : 100%;
  }

  .horizontal-line {
    background : url('../assets/intro/horizontal_line.png') repeat-x;
    background-size     : auto 100%;
    background-position : left center;
    height              : 3px;
    left                : 50%;
    margin-bottom       : 3px;
    margin-top          : 20px;
    position            : relative;
    width               : 100%;
  }

  .vertical-line {
    background : url('../assets/intro/vertical_line.png') no-repeat;
    background-size     : auto 100%;
    background-position : center center;
    height              : 60px;
    width               : 100%;
  }

}