
// =============
// Colors
// =============

$primaryColor: #2B77CE;
$secondaryColor: #FFF;
$thirdColor: #F1F0F1;
$btnPrimary: #4CAF50;
$btnSecondary: #3797EE;
$textColor: #666666;

$lightPanelColor: #FBFBFB;
$validationErrorColor: #d84242;
