
// ====================
// Colors
// ====================

$primaryColor: #2B77CE;
$secondaryColor: #FFF;
$thirdColor: #F1F0F1;
$btnPrimary: #4CAF50;
$btnSecondary: #3797EE;
$textColor: #666666;

$lightPanelColor: #FBFBFB;
$validationErrorColor: #d84242;

// ====================
// Gradient
// ====================
$topMainGradientColor: #640050;
$bottomMainGradientColor: #610281;

// ====================
// Social Buttons
// ====================
$foursquareButtonBgColor : #f94877;
$facebookButtonBgColor   : #3b5998;
$googleButtonBgColor     : #3369e8;
$twitterButtonBgColor    : #55acee;
