
.mainGradient .phInput{
  color: $topMainGradientColor;
  background: rgba(255,255,255,0.8);
  padding-left: 10px;
  @include borderRadius(5px);
  font-weight: 200;
  @include transition(color, color, 0.3s ease-in-out);

  &:focus {
    color: #000000;
  }

  &:-webkit-input-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder{
   color: $topMainGradientColor;
  }

}