
$mapWidth: 200px;
$mapHeight: 200px;

#mapView {


  .mapWrapper {
    opacity: 1;
    text-align : center;
    @include transition(opacity, opacity, 0.2s ease-in-out);
    @include transition(height, height, 0.2s ease-in-out);

    .timeoutzero-map {
      @include transition(opacity, opacity, 0.2s ease-in-out);
      border-radius: 100%;
      width: $mapWidth;
      position: relative;
      border: 6px solid #FFFFFF;
      height: $mapHeight;
      opacity: 1;
    }
  }

  .addressWrapper {
    .addressTitle {
      font-size: 18px;
    }

    .address {
      font-size: 18px;

      label {
        white-space: initial;
      }
    }
  }


  .actionsWrapper {

    button {
      width: 48%;

      &:first-child {
        float: left;
      }

      &:last-child {
        float: right;
      }
    }
  }

}

body.keyboard-open #mapView {
  .mapWrapper, .timeoutzero-map {
    opacity: 0;
    height: $mapHeight / 2;
  }
}