.introView {
  .introText {
    color: #FFFFFF;
    font-size: 14px;
  }

  &.pane {
    @extend %mainGradient;
    color: #FFFFFF;
  }

  .pane {
    background: transparent;
  }

  .logoWrapper {
    position: relative;
    width: 100%;
    height: $smallPhotorLogoHeight;
    .photorLogo.small { @include hCenter($smallPhotorLogoWidth, $smallPhotorLogoHeight);}
  }
}