.scroll-bg {
  background: #640050;
}

.fullscreen-container {
  .scroll {
    height : 100%;
    width  : 100%;
  }
}

.fullscreen {
  height : 100%;
  width  : 100%;
}

.halfscreen {
  height : 50%;
  width  : 100%;
}