#welcomeView {

  > .pane {
    @extend %mainGradient;
    color: #FFFFFF;
  }

  .logoWrapper {
    position: relative;
    width: 100%;
    height: $smallPhotorLogoHeight;
    .photorLogo.small { @include hCenter($smallPhotorLogoWidth, $smallPhotorLogoHeight);}
  }


  .city {
    background: url('../assets/intro/city.png') no-repeat;
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;

  }
}